@font-face {
    font-family: 'Abygaer';
    src: url('Abygaer.woff2') format('woff2'),
        url('Abygaer.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Abygaer';
    src: url('Abygaer.woff2') format('woff2'),
        url('Abygaer.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

