@font-face {
  font-family: "Avenir LT Std normal";
  src: url("../font/AvenirLTStd-Roman.woff2") format("woff2"), url("../font/AvenirLTStd-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mile Heights Free Personal Use";
  src: url("../font/mile-height-font/MileHeights-FreePersonalUse.woff2") format("woff2"), url("../font/mile-height-font/MileHeights-FreePersonalUse.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir LT Std book-italic";
  src: url("../font/AvenirLTStd-BookOblique.woff2") format("woff2"), url("../font/AvenirLTStd-BookOblique.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Avenir LT Std 300";
  src: url("../font/AvenirLTStd-Light.woff2") format("woff2"), url("../font/AvenirLTStd-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans normal";
  src: url("../font/gilsans-font/GillSans.woff2") format("woff2"), url("../font/gilsans-font/GillSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Abygaer";
  src: url("Abygaer.woff2") format("woff2"), url("Abygaer.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  letter-spacing: 0.5px;
}

p {
  font-family: "Avenir LT Std";
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Mile Heights Free Personal Use";
}

.font-gill-sans {
  font-family: "Gill Sans normal";
}

.font-abygaer {
  font-family: "Abygaer";
}

.font-avenir-roman {
  font-family: "Avenir LT Std normal";
}

.font-avenir-oblique {
  font-family: "Avenir LT Std book-italic";
}

.ltr-spc-3 {
  letter-spacing: 3px;
}

.size-36 {
  font-size: 36px;
}

.size-60 {
  font-size: 60px;
}

.size-30 {
  font-size: 30px;
}

.size-16 {
  font-size: 16px;
}

.size-18 {
  font-size: 18px;
}

.size-14 {
  font-size: 14px;
}

.size-24 {
  font-size: 24px;
}

.size-18 {
  font-size: 18px;
}

.size-13 {
  font-size: 13px;
}

.ltr-spc-4 {
  letter-spacing: 4px !important;
}

.clr-1 {
  color: #ffffff;
}

.clr-2 {
  color: #704916;
}

.clr-3 {
  color: #c39f71;
}

.bg-color-1 {
  background-color: #ba9170;
}

.color-4 {
  color: #666666;
}

.bg-color-2 {
  background-color: #f7f7f7;
}

.btn-clr {
  background-color: #debe95;
}

.bg-color-3 {
  background-color: #091710;
}

header {
  z-index: 2;
  position: absolute;
  width: 100%;
  top: 0;
  background: rgba(18, 30, 26, 0.7294117647);
  padding: 1rem 7rem 1rem 18rem !important;
}
header .navbar .navbar-collapse {
  justify-content: flex-end;
  padding-top: 3rem;
}
header .navbar .navbar-collapse .navbar-nav {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #fff;
}
header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link.active {
  color: #d1b38d;
}
header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: #d1b38d;
}

.hero .carousel .carousel-inner .first-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.hero .carousel .carousel-inner .first-item .logo-text {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 75%;
}
.hero .carousel .carousel-inner .first-item .logo-text .logo-text-img-contain {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.hero .carousel .carousel-inner .first-item .logo-text .heading-contain {
  border-left: 2px solid #c39f71;
  padding-left: 3rem;
}
.hero .carousel .carousel-inner .first-item .logo-text .heading-contain h1 {
  margin-bottom: 15px;
  line-height: 30px;
}
.hero .carousel .carousel-inner .first-item .logo-text .heading-contain h1 .second-contain {
  line-height: 55px;
}
.hero .carousel .carousel-inner .first-item .logo-text .heading-contain h1 .first-contain {
  line-height: 75px;
}
.hero .carousel .carousel-inner .first-item .logo-text .heading-contain p {
  line-height: 30px;
  margin-bottom: 0;
}
.hero .carousel .default-item-style {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.hero .carousel .default-item-style .text-contain {
  height: 37%;
  width: 68%;
}
.hero .carousel .carousel-control-prev .carousel-control-prev-icon {
  background-image: url("../img/banner/prev-icon.png") !important;
  background-size: auto !important;
}
.hero .carousel .carousel-control-next .carousel-control-next-icon {
  background-image: url("../img/banner/next-icon.png") !important;
  background-size: auto !important;
}

.lifespace {
  background-image: url("../img/lifespace/bg.jpg");
  background-repeat: no-repeat;
  background-position: right;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-size: contain;
  margin-bottom: 4rem;
}
.lifespace .lifespace-contain {
  height: 63%;
  width: 57%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-left: 8rem;
}
.lifespace .lifespace-contain ul {
  padding-left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.about-us {
  background-image: url("../img/lifespace/bg.jpg");
  background-repeat: no-repeat;
  background-position: left;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-size: contain;
}
.about-us .lifespace-contain {
  height: 63%;
  width: 66%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-right: 5rem;
}

.accessibility {
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.maps-section {
  height: 800px;
  overflow: hidden;
}
.maps-section .img-map {
  transform: translateY(-140px);
}

.overlooking {
  padding: 22rem 0;
}
.overlooking .img-contain {
  top: -15%;
}
.overlooking .img-contain .overlooking-image-text {
  width: 37%;
  margin-left: 3rem;
}
.overlooking .img-contain .main-div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.the-world .img-block {
  width: 320px;
  height: 300px;
}/*# sourceMappingURL=style.css.map */