/*@Media Query Mixin*/
/*@Media Query Mixin End*/
@font-face {
  font-family: "Avenir LT Std normal";
  src: url("../font/AvenirLTStd-Roman.woff2") format("woff2"), url("../font/AvenirLTStd-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mile Heights Free Personal Use";
  src: url("../font/mile-height-font/MileHeights-FreePersonalUse.woff2") format("woff2"), url("../font/mile-height-font/MileHeights-FreePersonalUse.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir LT Std book-italic";
  src: url("../font/AvenirLTStd-BookOblique.woff2") format("woff2"), url("../font/AvenirLTStd-BookOblique.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Avenir LT Std 300";
  src: url("../font/AvenirLTStd-Light.woff2") format("woff2"), url("../font/AvenirLTStd-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans normal";
  src: url("../font/gilsans-font/GillSans.woff2") format("woff2"), url("../font/gilsans-font/GillSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Abygaer";
  src: url("Abygaer.woff2") format("woff2"), url("Abygaer.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  letter-spacing: 0.5px;
}

p {
  font-family: "Avenir LT Std";
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Mile Heights Free Personal Use";
}

.font-gill-sans {
  font-family: "Gill Sans normal";
}

.font-abygaer {
  font-family: "Abygaer";
}

.font-avenir-roman {
  font-family: "Avenir LT Std normal" !important;
}

.font-avenir-oblique {
  font-family: "Avenir LT Std book-italic";
}

.ltr-spc-3 {
  letter-spacing: 3px;
}

.size-36 {
  font-size: 36px;
}
@media screen and (max-width: 1450px) {
  .size-36 {
    font-size: 26px;
  }
}
@media screen and (max-width: 450px) {
  .size-36 {
    font-size: 24px;
  }
}

.size-60 {
  font-size: 60px;
}
@media screen and (max-width: 1450px) {
  .size-60 {
    font-size: 45px;
  }
}
@media screen and (max-width: 1300px) {
  .size-60 {
    font-size: 40px;
  }
}
@media screen and (max-width: 950px) {
  .size-60 {
    font-size: 32px;
  }
}

.size-30 {
  font-size: 30px;
}

@media screen and (max-width: 450px) {
  .mob-size-14 {
    font-size: 12px !important;
  }
}

.size-16 {
  font-size: 16px;
}
@media screen and (max-width: 1450px) {
  .size-16 {
    font-size: 14px;
  }
}
@media screen and (max-width: 1300px) {
  .size-16 {
    font-size: 14px;
  }
}

.size-18 {
  font-size: 18px;
}

.size-14 {
  font-size: 14px;
}

.size-24 {
  font-size: 24px;
}
@media screen and (max-width: 1450px) {
  .size-24 {
    font-size: 20px;
  }
}
@media screen and (max-width: 1300px) {
  .size-24 {
    font-size: 18px;
  }
}
@media screen and (max-width: 950px) {
  .size-24 {
    font-size: 16px;
  }
}

.size-18 {
  font-size: 18px;
}

.size-13 {
  font-size: 13px;
}

.ltr-spc-4 {
  letter-spacing: 4px !important;
}

.clr-1 {
  color: #ffffff;
}

.clr-2 {
  color: #704916;
}

.clr-3 {
  color: #c39f71;
}

.bg-color-1 {
  background-color: #ba9170;
}

.color-4 {
  color: #666666;
}

.bg-color-2 {
  background-color: #f7f7f7;
}

.btn-clr {
  background-color: #debe95;
}

.bg-color-3 {
  background-color: #091710;
}

header {
  z-index: 2;
  position: absolute;
  width: 100%;
  top: 0;
  padding-top: 1rem;
  padding-right: 7rem;
  padding-bottom: 1rem;
  padding-left: 18rem;
  transition: all 0.5s ease;
}
@media screen and (max-width: 1650px) {
  header {
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
  }
}
header #brand-logo {
  transition: all 0.5s ease;
}
@media screen and (max-width: 1450px) {
  header #brand-logo {
    max-width: 70% !important;
  }
}
@media screen and (max-width: 1050px) {
  header #brand-logo {
    max-width: 130% !important;
  }
}
header .navbar .navbar-toggler-icon {
  background-image: url("../img/menu-icon.png") !important;
}
@media screen and (max-width: 1300px) {
  header .navbar .navbar-brand {
    width: 33%;
  }
}
@media screen and (max-width: 1050px) {
  header .navbar .navbar-brand {
    width: 20% !important;
  }
}
@media screen and (max-width: 450px) {
  header .navbar .navbar-brand {
    width: 60% !important;
  }
}
header .navbar .navbar-collapse {
  justify-content: flex-end;
  padding-top: 3rem;
}
header .navbar .navbar-collapse .menu-number {
  list-style: none;
  padding-left: 25px;
  position: relative;
}
@media screen and (max-width: 1050px) {
  header .navbar .navbar-collapse .menu-number {
    padding-left: 14px;
  }
}
@media screen and (max-width: 1300px) {
  header .navbar .navbar-collapse .menu-number {
    padding-left: 14px;
  }
}
@media screen and (max-width: 450px) {
  header .navbar .navbar-collapse .menu-number {
    padding-left: 0px;
    text-align: center;
  }
}
header .navbar .navbar-collapse .menu-number a {
  color: #d1b38d !important;
  text-decoration: none;
}
header .navbar .navbar-collapse .menu-number::after {
  content: "";
  background: rgba(222, 189, 149, 0.5882352941);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 150%;
  width: 1px;
}
@media screen and (max-width: 450px) {
  header .navbar .navbar-collapse .menu-number::after {
    content: none;
  }
}
header .navbar .navbar-collapse .navbar-nav {
  width: 70%;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1450px) {
  header .navbar .navbar-collapse .navbar-nav {
    width: 82%;
  }
}
@media screen and (max-width: 450px) {
  header .navbar .navbar-collapse .navbar-nav {
    width: 100%;
    align-items: center;
  }
}
header .navbar .navbar-collapse .navbar-nav .nav-item:last-child .nav-link::after {
  content: none;
}
header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #fff;
  position: relative;
  padding-right: 1rem;
  padding-left: 1rem;
}
header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link.active {
  color: #d1b38d;
}
header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: #d1b38d;
}
header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link::after {
  content: "";
  background: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  height: 50%;
  width: 2px;
}
@media screen and (max-width: 450px) {
  header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link::after {
    content: none;
  }
}

.hero .carousel .carousel-inner .first-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.hero .carousel .carousel-inner .first-item .logo-text {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 75%;
}
@media screen and (max-width: 1450px) {
  .hero .carousel .carousel-inner .first-item .logo-text {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 80%;
  }
}
@media screen and (max-width: 950px) {
  .hero .carousel .carousel-inner .first-item .logo-text {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 80%;
  }
}
@media screen and (max-width: 450px) {
  .hero .carousel .carousel-inner .first-item .logo-text {
    margin-top: 4rem;
  }
}
.hero .carousel .carousel-inner .first-item .logo-text .logo-text-img-contain {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
@media screen and (max-width: 950px) {
  .hero .carousel .carousel-inner .first-item .logo-text .logo-text-img-contain {
    width: 41% !important;
  }
}
@media screen and (max-width: 1450px) {
  .hero .carousel .carousel-inner .first-item .logo-text .logo-text-img-contain img {
    max-width: 50% !important;
    margin-bottom: 7px;
  }
}
.hero .carousel .carousel-inner .first-item .logo-text .heading-contain {
  border-left: 2px solid #c39f71;
  padding-left: 3rem;
}
@media screen and (max-width: 950px) {
  .hero .carousel .carousel-inner .first-item .logo-text .heading-contain {
    padding-left: 2rem;
  }
}
@media screen and (max-width: 450px) {
  .hero .carousel .carousel-inner .first-item .logo-text .heading-contain {
    padding-left: 1rem;
    margin-left: 1.5rem;
    border-left: 5px solid #c39f71;
  }
}
.hero .carousel .carousel-inner .first-item .logo-text .heading-contain h1 {
  margin-bottom: 15px;
  line-height: 30px;
}
.hero .carousel .carousel-inner .first-item .logo-text .heading-contain h1 .second-contain {
  line-height: 55px;
}
@media screen and (max-width: 1300px) {
  .hero .carousel .carousel-inner .first-item .logo-text .heading-contain h1 .second-contain {
    line-height: 45px;
  }
}
@media screen and (max-width: 950px) {
  .hero .carousel .carousel-inner .first-item .logo-text .heading-contain h1 .second-contain {
    line-height: 35px;
  }
}
.hero .carousel .carousel-inner .first-item .logo-text .heading-contain h1 .first-contain {
  line-height: 75px;
}
@media screen and (max-width: 1300px) {
  .hero .carousel .carousel-inner .first-item .logo-text .heading-contain h1 .first-contain {
    line-height: 55px;
  }
}
@media screen and (max-width: 950px) {
  .hero .carousel .carousel-inner .first-item .logo-text .heading-contain h1 .first-contain {
    line-height: 40px;
  }
}
.hero .carousel .carousel-inner .first-item .logo-text p {
  line-height: 30px;
  margin-bottom: 0;
}
@media screen and (max-width: 1300px) {
  .hero .carousel .carousel-inner .first-item .logo-text p {
    line-height: 25px;
  }
}
@media screen and (max-width: 950px) {
  .hero .carousel .carousel-inner .first-item .logo-text p {
    line-height: 22px;
  }
}
.hero .carousel .carousel-item.active .fade-in-anime {
  animation: fade-in 3s forwards ease;
}
.hero .carousel .carousel-item.active .fade-in-anime-para {
  animation: fade-in-para 3s forwards ease;
  animation-delay: 0.3s;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in-para {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hero .carousel .carousel-item.active .banner-img {
  animation: img-scale-up 8s ease-in forwards;
}
@keyframes img-scale-up {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
@media screen and (max-width: 950px) {
  .hero .carousel .carousel-item .banner-img {
    width: 177% !important;
  }
}
@media screen and (max-width: 450px) {
  .hero .carousel .carousel-item .banner-img {
    width: 334% !important;
  }
}
.hero .carousel .carousel-item .fade-in-anime {
  opacity: 0;
}
.hero .carousel .carousel-item .fade-in-anime-para {
  opacity: 0;
}
.hero .carousel .carousel-item .one-number {
  letter-spacing: -15px !important;
}
.hero .carousel .carousel-item .cust-line-height {
  line-height: 57px !important;
  letter-spacing: -1px !important;
}
@media screen and (max-width: 950px) {
  .hero .carousel .carousel-item .cust-line-height {
    line-height: 38px !important;
  }
}
.hero .carousel .default-item-style {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.hero .carousel .default-item-style .text-contain {
  height: 37%;
  width: 68%;
}
.hero .carousel .carousel-control-prev {
  opacity: 1 !important;
}
.hero .carousel .carousel-control-prev .carousel-control-prev-icon {
  background-image: url("../img/banner/prev-icon.png") !important;
  background-size: auto !important;
}
.hero .carousel .carousel-control-next {
  opacity: 1 !important;
}
.hero .carousel .carousel-control-next .carousel-control-next-icon {
  background-image: url("../img/banner/next-icon.png") !important;
  background-size: auto !important;
}

.lifespace {
  background-image: url("../img/lifespace/bg.jpg");
  background-repeat: no-repeat;
  background-position: right;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-size: contain;
  margin-bottom: 4rem;
}
@media screen and (max-width: 950px) {
  .lifespace {
    background-size: cover;
    padding-top: 0;
    margin-top: 4rem;
  }
}
.lifespace .lifespace-contain {
  height: 63%;
  width: 57%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-left: 8rem;
}
@media screen and (max-width: 1050px) {
  .lifespace .lifespace-contain {
    width: 100%;
    margin-left: 2rem;
  }
}
@media screen and (max-width: 1300px) {
  .lifespace .lifespace-contain {
    width: 100%;
    margin-left: 2rem;
  }
}
@media screen and (max-width: 950px) {
  .lifespace .lifespace-contain {
    width: 100%;
    margin-left: 2rem;
    margin-top: 4rem;
  }
}
.lifespace .lifespace-contain ul {
  padding-left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.about-us {
  background-image: url("../img/lifespace/bg.jpg");
  background-repeat: no-repeat;
  background-position: left;
  padding: 5rem 0;
  background-size: contain;
}
@media screen and (max-width: 1050px) {
  .about-us {
    padding: 2rem 0;
  }
}
@media screen and (max-width: 950px) {
  .about-us {
    background-size: cover;
    padding: 0rem 0;
  }
}
@media screen and (max-width: 1050px) {
  .about-us .image-col {
    margin: auto 0;
  }
}
.about-us .lifespace-contain {
  height: 63%;
  width: 66%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-right: 5rem;
}
@media screen and (max-width: 1450px) {
  .about-us .lifespace-contain {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-right: 0rem;
  }
}
@media screen and (max-width: 1650px) {
  .about-us .lifespace-contain {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-right: 0rem;
  }
}
@media screen and (max-width: 950px) {
  .about-us .lifespace-contain {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.accessibility {
  padding-top: 10rem;
  padding-bottom: 3rem;
}
@media screen and (max-width: 1450px) {
  .accessibility {
    padding-top: 5rem;
  }
}

.maps-section {
  height: 800px;
  overflow: hidden;
}
@media screen and (max-width: 1050px) {
  .maps-section {
    height: 624px;
  }
}
@media screen and (max-width: 950px) {
  .maps-section {
    height: 568px;
  }
}
@media screen and (max-width: 450px) {
  .maps-section {
    height: 710px;
  }
}
.maps-section .img-map {
  transform: translateY(-140px);
}
@media screen and (max-width: 1450px) {
  .maps-section .img-map {
    transform: translateY(-97px) !important;
  }
}
@media screen and (max-width: 1650px) {
  .maps-section .img-map {
    transform: translateY(-40px);
  }
}
@media screen and (max-width: 1050px) {
  .maps-section .img-map {
    transform: translateY(-30px) !important;
  }
}
@media screen and (max-width: 450px) {
  .maps-section .img-map {
    max-width: 150% !important;
  }
}

.overlooking {
  padding: 22rem 0;
}
@media screen and (max-width: 1450px) {
  .overlooking {
    padding: 7rem 0;
  }
}
@media screen and (max-width: 1050px) {
  .overlooking {
    padding: 4rem 0;
  }
}
@media screen and (max-width: 450px) {
  .overlooking {
    padding: 6rem 0;
  }
}
.overlooking .img-contain {
  top: -15%;
}
@media screen and (max-width: 1450px) {
  .overlooking .img-contain {
    top: -139%;
    left: 14%;
    width: 70% !important;
  }
}
@media screen and (max-width: 1050px) {
  .overlooking .img-contain {
    top: -175%;
    left: 14%;
    width: 70% !important;
  }
}
@media screen and (max-width: 950px) {
  .overlooking .img-contain {
    left: 50%;
    top: -225%;
    transform: translateX(-50%);
    width: 90% !important;
  }
}
@media screen and (max-width: 450px) {
  .overlooking .img-contain {
    overflow: hidden !important;
    padding: 0 1rem !important;
    width: 100% !important;
  }
}
.overlooking .img-contain .overlooking-image-text {
  width: 37%;
  margin-left: 3rem;
}
@media screen and (max-width: 1050px) {
  .overlooking .img-contain .overlooking-image-text {
    width: 80%;
    margin-left: 3rem;
  }
}
@media screen and (max-width: 950px) {
  .overlooking .img-contain .overlooking-image-text {
    width: 100%;
    margin-left: 0rem;
    padding: 0rem 1rem 0 1.5rem;
  }
}
@media screen and (max-width: 450px) {
  .overlooking .img-contain .overlooking-image-text {
    background: rgba(0, 0, 0, 0.7607843137) !important;
    padding: 1.5rem 1rem 1rem 1.5rem !important;
    border-radius: 15px !important;
  }
}
@media screen and (max-width: 450px) {
  .overlooking .img-contain .overlooking-image-text h3 {
    margin-top: 0.5rem;
  }
}
.overlooking .img-contain .main-div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (max-width: 450px) {
  .overlooking .img-contain .main-div img {
    max-width: 290% !important;
    transform: translateX(-360px) !important;
  }
}

.ecoluxe {
  padding-bottom: 5rem;
  padding-top: 6rem;
}
@media screen and (max-width: 450px) {
  .ecoluxe {
    padding-bottom: 5rem;
    padding-top: 0rem;
  }
}
.ecoluxe .villas-content-conatin {
  background-color: #f7f7f7;
  padding: 2rem 4rem 2rem 2rem;
  min-height: 58vh;
  border: 1px solid #dedede;
}
@media screen and (max-width: 1650px) {
  .ecoluxe .villas-content-conatin {
    min-height: 73vh;
  }
}
@media screen and (max-width: 1300px) {
  .ecoluxe .villas-content-conatin {
    min-height: auto !important;
  }
}
@media screen and (max-width: 1050px) {
  .ecoluxe .villas-content-conatin {
    min-height: 98vh !important;
  }
}
@media screen and (max-width: 950px) {
  .ecoluxe .villas-content-conatin {
    min-height: auto !important;
  }
}
@media screen and (max-width: 950px) {
  .ecoluxe .villas-content-conatin {
    padding: 2rem 1rem 2rem 1rem;
  }
}
.ecoluxe .cust-contain {
  padding: 0 13.5%;
}
@media screen and (max-width: 450px) {
  .ecoluxe .cust-contain {
    padding: 0 5.5%;
  }
}
.ecoluxe .cust-contain .gx-5 {
  --bs-gutter-x: 4rem !important;
}
@media screen and (max-width: 950px) {
  .ecoluxe .left-card {
    margin-bottom: 5rem;
  }
}

.the-world {
  background-image: url("../img/the-world/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8rem 0 9rem 0;
  margin-bottom: 5rem;
}
@media screen and (max-width: 450px) {
  .the-world {
    padding: 4rem 0 2rem 0;
    background-size: 35rem;
    background-position: top;
    margin-bottom: 0rem;
  }
}
.the-world .cust-cont {
  padding: 0 15rem;
}
@media screen and (max-width: 1450px) {
  .the-world .cust-cont {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 1650px) {
  .the-world .cust-cont {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 450px) {
  .the-world .cust-cont {
    padding: 0 1rem;
  }
}
.the-world .img-block {
  width: 320px;
  height: 300px;
  position: relative;
  z-index: 0;
}
@media screen and (max-width: 1450px) {
  .the-world .img-block {
    width: 290px;
    height: 270px;
  }
}
@media screen and (max-width: 1050px) {
  .the-world .img-block {
    width: 200px;
    height: 178px;
  }
}
@media screen and (max-width: 950px) {
  .the-world .img-block {
    width: 355px;
    height: 345px;
    margin-bottom: 5rem;
  }
}
@media screen and (max-width: 450px) {
  .the-world .img-block {
    width: 100%;
    margin-bottom: 0rem;
    margin-top: 3rem;
  }
}
@media screen and (max-width: 1050px) {
  .the-world .img-block img {
    width: 160% !important;
  }
}
@media screen and (max-width: 950px) {
  .the-world .img-block img {
    width: 185% !important;
  }
}
@media screen and (max-width: 450px) {
  .the-world .img-block img {
    width: 200% !important;
    transform: translateX(-170px);
  }
}
.the-world .img-block h4 {
  z-index: 1;
  position: absolute;
  bottom: 0;
  margin: 0 0 1rem 1rem;
}

footer {
  background-image: url("../img/footer/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 0 0 0;
}
footer .cust-cont {
  padding: 0 15rem;
}
@media screen and (max-width: 1450px) {
  footer .cust-cont {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 1650px) {
  footer .cust-cont {
    padding: 0 4rem;
  }
}
@media screen and (max-width: 1050px) {
  footer .cust-cont {
    padding: 0 2rem;
  }
}
footer form .form-control {
  background-color: transparent !important;
  border-radius: unset !important;
}
footer form .form-control:focus {
  border: 1px solid #ced4da !important;
  box-shadow: none !important;
}
footer form input {
  color: #fff !important;
}
footer form .btn-anime {
  z-index: 6;
  display: inline-block;
}
footer form .btn-anime button {
  background-color: #debe95 !important;
  border: 1px solid #debe95 !important;
  color: #000 !important;
  padding: 0.5rem 2.5rem;
}
footer form .btn-anime button:hover ~ .border-expand {
  animation: mymove 0.6s 1;
}
footer form .btn-anime .border-expand {
  scale: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 1;
  z-index: -1;
  border: 10px solid rgba(222, 190, 149, 0.6);
}
@keyframes mymove {
  0% {
    scale: 0;
    opacity: 1;
  }
  100% {
    scale: 2;
    border: 5px solid rgba(222, 190, 149, 0.6);
    opacity: 0;
  }
}
footer .copy-cust {
  background-color: #091710;
  margin-top: 4rem;
}
footer .copy-cust .copyright {
  padding: 1.5rem 0;
}
footer .copy-cust .copyright .left-copyright {
  border-right: 1px solid #fff;
}
footer input.no-arrows::-webkit-inner-spin-button,
footer input.no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
footer input.no-arrows {
  -moz-appearance: textfield;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(18, 30, 26);
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(30, 52, 40);
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(30, 52, 40);
}

#scroll-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(222, 189, 149, 0.6588235294);
  color: white;
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 22px;
}
#scroll-top-btn:hover {
  background-color: rgba(222, 189, 149, 0.6588235294);
}
#scroll-top-btn .material-symbols-outlined {
  line-height: unset !important;
  font-size: 20px !important;
}

.thank-you {
  background-image: url("../img/thank-you/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */